.ads{
    height: 60px;
    background-image: url("/images/JA-top-stri-editted.gif");
    background-size: 100% 100%;
}

.ads-container{
    background-color: #ffd4db;
}

.sell-on-jumia{
    background-color: #f1f1f2;
    height: 30px;
    font-size: .8rem;
    
}

.onHover-underline:hover{
    text-decoration: underline;
}

.color-onHover{
    filter: grayscale();
    opacity: 50%;
}

.color-onHover:hover{
    filter: none;
    opacity: 1;
}

.nav-search{
    height: 40px;
    width: 500px;
    outline: none;
}

.nav-search:placeholder-shown{
    padding-left: 10px;
}

.btn-search{
    height: 40px;
}

.nav-btns{
    font-size: 1.1rem;
    text-transform: capitalize !important;
    font-weight: 400;
}