.ads{
    height: 60px;
    background-image: url("/images/JA-top-stri-editted.gif");
    background-size: 100% 100%;
}

.ads-container{
    background-color: #ffd4db;
}

.sell-on-jumia{
    background-color: #f1f1f2;
    height: 30px;
    font-size: .8rem;
    
}

.onHover-underline:hover{
    text-decoration: underline;
}

.color-onHover{
    filter: grayscale();
    opacity: 50%;
}

.color-onHover:hover{
    filter: none;
    opacity: 1;
}

.nav-search{
    height: 40px;
    /* width: 83%; */
    outline: none;
}

.nav-search:placeholder-shown{
    padding-left: 10px;
}

.btn-search{
    height: 40px;
}

.nav-btns{
    font-size: 1rem;
    text-transform: capitalize !important;
    font-weight: 400;
}



.container-fluid{
    min-height: 100dvh;
    background-image: url('/images/bg-live.jpg');
    background-size: cover;
}

.banner-grid1{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.banner-grid1-item1, .banner-grid1-item2{
    grid-row: span 2;
}

.banner-grid1-item4{
    background-image: url('/images/BSB.gif');
}

.carousel-indicators > button{
    border-radius: 50% !important;
    height: 5px !important;
    width: 5px !important;
}